@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif !important; }
}

html, body, #__next {
    color: #4D4D4D;
    height: 100vh;
    cursor: url('/img/cursor.png'), auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

/* .ticker { width: 100%; } */

.rainbow-text {
    background-image: linear-gradient(to left, #6AE2DC, #FFB8D2, #F4DC62, #FFC78B, #CDC5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tilt {
  transform-style: preserve-3d;
}

.tilt-inner {
  transform: translateZ(100px);
}

/* babyblue #6AE2DC */
/* babypink #FFB8D2 */
/* yellow #F4DC62 */
/* orange #FFC78B */
/* purple #CDC5FF */
/* gray #4D4D4D */

